<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <!--
   <div class="login-bg">
        
    <div class="content">
        <div class = "avatar">
            <img src="https://fakeimg.pl/200x200/009578/fff/" alt="face">
        </div>
        <div class="userData">
            <h1>USERNAME_HERE</h1>
            <p>ID:007</p>
            <p><i class="far fa-calendar-alt"></i> Joined Apr 19th 2021</p>
        </div>
    </div>
    </div>
    <div class="secondContainer">
        <div class="box-container">
        
            <div class="lists">
                <h1>Favourites</h1>
                <p>Novel Cards Here</p>
                <h1>Novels Authored</h1>
                <p>Novel Cards Here</p>
            </div>
        </div>
    
    </div>
-->
<div class="login-bg">
        
    <div class="content">
        <div class = "avatar">
            <img src="https://fakeimg.pl/200x200/009578/fff/" alt="face">
        </div>
        <div class="userData">
            <h1>Welcome <%= user.username %></h1>
            <p>ID:<%= user.id %></p>
            <p><i class="far fa-calendar-alt"></i> Joined Apr 19th 2021</p>
        </div>
    </div>
    
    <div class="secondContainer">
        
    
    </div>
    <div class="box-container">
        
        <div class="lists">
            <h1>Favourites</h1>
            <p>Novel Cards Here</p>
            <h1>Novels Authored</h1>
            <p>Novel Cards Here</p>
        </div>
    </div>
</div>
    <%- include('./partials/footer.ejs') %>

    <script src="scripts/genrePage.js"></script>
    
</body>
</html>