<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
<body>
    <input type="file" class="filepond" style="height: 200px; width: auto;">

    <% novels.forEach(function(novel) { %>

        <div class="novel-card">
            <img src="data:novel/<%=novel.cover_pic.contentType%>;base64,
            <%=novel.cover_pic.data.toString('base64')%>">
            <p><%= novel.title %></p>
            <div class="novel-genre">
                <%= nove.genre %>
            </div>
            <a href="">Read Now</a>
            <img src="<%= novel.coverImagePath %>">
        </div>


        
    <% }) %>

    
    <div class="novel-card">
        <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
        <p>Novel title</p>
        <div class="novel-genre">
            Action
        </div>
        <a href="">Read Now</a>

    </div>

    
</body>
</html>